{% extends "base.html" %}
{% block style %}
<style>
.table {
		table-layout:fixed;
}
.table td {
	  white-space: nowrap;
		  overflow: hidden;
			  text-overflow: ellipsis;
}
</style>
{% endblock style %}
{% block content %}
	<h1>kenkoooo plus</h1>
	<table id="agc-table">
	</table>
	<table id="arc-table">
	</table>
	<table id="abc-table">
	</table>
	<table id="other-table">
	</table>
{% endblock content %}

{% block script %}
<script>
"user strict!"
window.addEventListener('load', init);
var contests = {{contests | tojson}};
var problems = {{problems | tojson}};
function sleep(milliseconds) {
	if(milliseconds > 10) return;
	var start = new Date().getTime();
	while((new Date().getTime() - start) <= milliseconds);
}
var ani_queue = [];
function init() {
	problems.sort(function(a, b){a = a['id']; b = b['id']; return a < b ? -1 : +(a > b);})
	buildAXC();
}
function buildAXC() {
	var keys = ["agc", "arc", "abc"]
	for(ix in keys) {
		key = keys[ix];
		var table = document.getElementById(key+"-table"); 
		table.setAttribute("class", "table table-sm table-bordered table-condensed")

		contests[key].sort(function(a, b){a = a['id']; b = b['id']; return a < b ? -1 : +(a > b);})
		var isFirst = true;
		var rowCnt = 0;
		var headRow = table.createTHead(0).insertRow(0);
		var bodyRow = table.createTBody(0);
		for(ix in contests[key]) {
			contest = contests[key][ix]['id']; 
			var row = bodyRow.insertRow(rowCnt); rowCnt = rowCnt + 1;
			var cnt = 0;
			for(ix in problems) {
				problem = problems[ix];
				if(problem['id'].startsWith(contest)) {
					var cell = row.insertCell(cnt); 
					cell.innerHTML = problem['title']; 
					if(isFirst) {
						var headCell = headRow.insertCell(cnt);
						headCell.innerHTML = problem['title'][0];
					}
					cnt = cnt + 1;
				}
			}
			row.id = "row_" + contest;
			isFirst = false;
		}
	}
}
</script>
{% endblock script %}
