{% extends "base.html" %}

{% block content %}
  <h1>
    {{ problem_id }}
  </h1>
  <div>
    <ul>
	    <li>
		    <h2>Korean</h2>
				{#
				{% if translate_ko %}
					{% for line in translate_ko %}
						<p>{{line}}</p>
					{% endfor %}
				{% else %}
					<p>None</p>
				{% endif %}
#}
				<textarea id="markdown" style="display:none;"></textarea>
				<div id="secret" style="display:none;"></div>
				<div class="col-sm border">
				<div id="output" class="markdown-body" style="min-height: 500px;" ></div>
				</div>
	    </li>
    </ul>
  </div>
{% endblock content %}

{% block script %}
<script>
$(function() {
	$(function() {
		mwm = new markdownWithMathjax(('markdown'), ('output'), ('secret')); 
		mwm.settingInit();
		mwm.contentInit({{translate_ko | tojson}});
	});
});
</script>
{% endblock script %}
