{% extends "base.html" %}
{% block style %}
<style>
.table {
	table-layout:fixed;
}
.table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
</style>
{% endblock style %}
{% block content %}
	<h1>Atcoder Modify Translate</h1>
	<a href="{{url_for('atcoderList')}}">atcoder List</a>
	<form action="{{url_for('atcoderModifyTranslate')}}" onsubmit="return validateForm()" method="post">
		<div class="form-group">
		<select class="form-control" id="sel1" name="contest" onchange="setContest(this.value)"></select>
		<select multiple class="form-control" id="sel2" name="problem" onchange="setProblem(this.value)"></select>
		<label for="comment">Korean Translate</label>
		<textarea class="form-control" id="translate_ko" name="translate_ko" rows="25" id="comment"></textarea>
		<input class="form-control" type="submit" name="action" value="Modify">
		</div>
	</form>
{% endblock content %}

{% block script %}
<script>
"user strict!"
String.prototype.format = function() {a = this;for (k in arguments) a = a.replace("{" + k + "}", arguments[k]); return a;}
function getContestURL(contest_id) {return 'https://beta.atcoder.jp/contests/{0}/'.format(contest_id);}
function getProblemURL(contest_id, problem_id) {return 'https://beta.atcoder.jp/contests/{0}/tasks/{1}/'.format(contest_id, problem_id);}
function getHypertext(href, content, blank) {
	target = ""; if(blank == true) target = 'target="_blank"';
	return '<a href="' + href + '"' + target + '>' + content + '</a>';
}
window.addEventListener('load', init);
var contests = {{contests | tojson}};
var problems = {{problems | tojson}};
var contest_id = {{contest | tojson}};
var problem_id = {{problem | tojson}};
var translate = {{translate | tojson}};
var sel1 = document.querySelector('#sel1');
var sel2 = document.querySelector('#sel2');
var trans_ko = document.querySelector('#translate_ko');
var options2;
function init() {
	for(ix in contests) {
		contest = contests[ix];
		var opt = document.createElement("option");
		opt.setAttribute('value', contest['id']);
		var node = document.createTextNode(contest['title']);
		opt.appendChild(node);
		sel1.appendChild(opt);
	}
	for(ix in problems) {
		problem = problems[ix];
		var opt = document.createElement("option");
		opt.setAttribute('value', problem['id']);
		var cons = [problem['contest_id']];
		if(problem['id'].startsWith('arc') || problem['id'].startsWith('abc')) {
			if(problem['id'].substring(0, 6) != cons[0]) {
				cons.push(problem['id'].substring(0, 6));
			}
		}
		opt.setAttribute('data-option', cons);
		var node = document.createTextNode(problem['title']);
		opt.appendChild(node);
		sel2.appendChild(opt);
	}
	options2 = sel2.querySelectorAll('option');
	if(contest_id != null) sel1.value = contest_id;
	if(problem_id != null) sel2.value = problem_id;
	setContest(sel1.value);
	setProblem(sel2.value);
}

function setContest(selValue) {
	var before = sel2.value, beforeTrue = false;
	sel2.innerHTML = '';
	for(var i = 0; i < options2.length; i++) if(options2[i].dataset.option.indexOf(selValue) != -1) {
		sel2.appendChild(options2[i]);
		if(options2[i].value == before) beforeTrue = true;
	}
	if(beforeTrue) sel2.value = before;
	if(sel2.value == "") trans_ko.setAttribute("readonly", true);
}
function setProblem(selValue) {
	if(selValue == "") return;
	var ko_data = "";
	if(selValue in translate) ko_data = translate[selValue]['translate_ko'];
	trans_ko.value = ko_data;
	trans_ko.removeAttribute("readonly");
}

function validateForm() {
	if (sel2.value == "") {
		alert("You must choose Problem");
		return false;
	}
}

</script>
{% endblock script %}
