<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
	<link rel="stylesheet" href="https://assets-cdn.github.com/assets/github-ac2ce2821692.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/shCore.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/shBrushJava.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/shBrushCpp.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/SyntaxHighlighter.js') }}"></script>
  <script type="text/javascript">SyntaxHighlighter.all()</script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/marked.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/markdownWithMathjax.js') }}"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		tex2jax: {inlineMath: [["$","$"]]},
		preRemoveClass: "user-editor",
	});
	</script>
  <style>.syntaxhighlighter { padding-bottom: 1px; }</style>
	
  <script type="text/javascript" src="{{ url_for('static', filename='js/myScript.js') }}"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-9140723414679133",
			enable_page_level_ads: true
		});
	</script>
  
  <style>
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  </style>
	{% block style %}
	{% endblock style %}

	<title>
		{% if title %}
			{{ title }}
		{% else %}
			kajebiii
		{% endif %}
	</title>

</head>
<body style="min-width: auto;">

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbarNavAltMarkupo">
<a class="navbar-brand" href="/">PS</a>
<ul class="navbar-nav">
{% if session['id_BOJ'] %}
<li><a class="nav-item nav-link" href="{{ url_for('login') }}"> {{session['id_BOJ']}} </a></li>
<li><a class="nav-item nav-link" href="{{ url_for('logout') }}"> Logout </a></li>
{% else %}
<li><a class="nav-item nav-link" href="{{ url_for('login') }}"> Login </a></li>
{% endif %}
{% if session['admin'] %}
<li><a class="nav-item nav-link">(Admin Mode)</a></li>
{% endif %}
</ul>
</nav>



<div class="container">
{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endwith %}

<div>
{% block content %}{% endblock content %}
</div>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
<div class="row">
<div class="col-12 col-sm-4 text-center">
<ul class="list-unstyled text-small">
<h5><a class="nav-item nav-link" href="#navbarNavAltMarkup">TOP</a></h5>
</ul>
</div>
<div class="col-12 col-sm-4 text-center">
<h5>E-mail</h5>
<img src="{{ url_for('static', filename='email.png') }}" alt="E-mail" style="max-width:100%;"></img>
<h5><a href="{% if 'admin' in session %}{{url_for('admin_logout')}}{% else %}{{url_for('admin_login')}}{% endif %}" style="color: #FFFFFF; text-decoration: none;">Admin</a></li><h5>
</div>
<div class="col-12 col-sm-4 text-center">
<ul class="list-unstyled text-small">
<h5><a "text-muted" href="https://github.com/kajebiii/ps.kajebiii.ga">GitHub<a></h5>
</ul>
</div>
</div>
<hr>
<div class="col-12 col-md text-center"><h5>© 2017-2018 kajebiii</h5></div>
</footer>

</div>
</body>
</html>
{% block script %}{% endblock script %}
