<!DOCTYPE html>
<html lang="ko">

<html>
<head>
  <meta charset="UTF-8">
  <script type="text/javascript" src="{{ url_for('static', filename='js/shCore.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/shBrushJava.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/shBrushCpp.js') }}"></script>
  <script type="text/javascript">SyntaxHighlighter.all()</script>
  <script type="text/x-mathjax-config" src="{{ url_for('static', filename='js/MathJax.js') }}"></script>
  <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [["$","$"]]}});</script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/myScript.js') }}"></script>
  <style>.syntaxhighlighter { padding-bottom: 1px; }</style>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/shCore.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/shThemeDefault.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />


	<title>
		{% if title %}
			{{ title }}
		{% else %}
			For Your Problem Solving
		{% endif %}
	</title>

</head>
<body onload="my_init()">

  <nav class="container">
    <div class="logo">
      <a href="/index" class="white anchor_box">
        <h1 class="center_table">PS</h1>
      </a>
    </div>
    <div class="logo">
      <h1 class="center_table">&nbsp;&nbsp;&nbsp;</h1>
    </div>
    <div class="logo">
      <a href="#top" class="white anchor_box">
        <h1 class="center_table">TOP</h1>
      </a>
    </div>
    <div class="gnb anchor_box">
      <h1 id="clock" class="text_white  center_table">
      </h1>
    </div>
  </nav>

  <header class="container" id="top">
    <div class="myMargin"></div>
  </header>


	<div class="container">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}

	{% block content %}{% endblock content %}
	</div>


<footer>
  <div class="footer_adove container">
    <div class="myMargin_25px"></div>
    <div class="responsive_box">
      <div class="info_box_big">
        <div class="myMargin"></div>
        <div class="intro_info text_very_small text_white"></div>
      </div>
    </div>
    <div class="responsive_box">
      <div class="info_box_big">
        <div class="intro_name text_small text_white">E-mail</div>
        <div class="myMargin"></div>
        <div class="intro_info text_very_small text_white">kajebiii@gmail.com</div>
      </div>
    </div>
    <div class="responsive_box">
      <div class="info_box_big">
        <div class="myMargin"></div>
        <div class="intro_info text_very_small text_white"></div>
      </div>
    </div>
  </div>
  <div class="footer_below container">
    <div class="myMargin_25px"></div>
    <div class="intro_info text_very_small text_white" style="text-align: center">COPYRIGHT 2017- kajebiii</div>
    <div class="myMargin_25px"></div>
  </div>
</footer>
</body>
</html>
<script>
/**
 * SyntaxHighlighter
  * http://alexgorbatchev.com/SyntaxHighlighter
	 *
	  * SyntaxHighlighter is donationware. If you are using it, please donate.
		 * http://alexgorbatchev.com/SyntaxHighlighter/donate.html
		  *
			 * @version
			  * 3.0.83 (July 02 2010)
				 * 
				  * @copyright
					 * Copyright (C) 2004-2010 Alex Gorbatchev.
					  *
						 * @license
						  * Dual licensed under the MIT and GPL licenses.
							 */
							 ;(function()
							 {
								 	// CommonJS
										typeof(require) != 'undefined' ? SyntaxHighlighter = require('shCore').SyntaxHighlighter : null;

											function Brush()
												{
															var keywords =	'abstract assert boolean break byte case catch char class const ' +
																					'continue default do double else enum extends ' +
																											'false final finally float for goto if implements import ' +
																																	'instanceof int interface long native new null ' +
																																							'package private protected public return ' +
																																													'short static strictfp super switch synchronized this throw throws true ' +
																																																			'transient try void volatile while';

																																																					this.regexList = [
																																																								{ regex: SyntaxHighlighter.regexLib.singleLineCComments,	css: 'comments' },		// one line comments
																																																											{ regex: /\/\*([^\*][\s\S]*)?\*\//gm,						css: 'comments' },	 	// multiline comments
																																																														{ regex: /\/\*(?!\*\/)\*[\s\S]*?\*\//gm,					css: 'preprocessor' },	// documentation comments
																																																																	{ regex: SyntaxHighlighter.regexLib.doubleQuotedString,		css: 'string' },		// strings
																																																																				{ regex: SyntaxHighlighter.regexLib.singleQuotedString,		css: 'string' },		// strings
																																																																							{ regex: /\b([\d]+(\.[\d]+)?|0x[a-f0-9]+)\b/gi,				css: 'value' },			// numbers
																																																																										{ regex: /(?!\@interface\b)\@[\$\w]+\b/g,					css: 'color1' },		// annotation @anno
																																																																													{ regex: /\@interface\b/g,									css: 'color2' },		// @interface keyword
																																																																																{ regex: new RegExp(this.getKeywords(keywords), 'gm'),		css: 'keyword' }		// java keyword
																																																																																			];

																																																																																					this.forHtmlScript({
																																																																																									left	: /(&lt;|<)%[@!=]?/g, 
																																																																																												right	: /%(&gt;|>)/g 
																																																																																														});
																																																																																						};

																																																																																							Brush.prototype	= new SyntaxHighlighter.Highlighter();
																																																																																								Brush.aliases	= ['java'];

																																																																																									SyntaxHighlighter.brushes.Java = Brush;

																																																																																										// CommonJS
																																																																																											typeof(exports) != 'undefined' ? exports.Brush = Brush : null;
							 })();
</script>
{% block script %}{% endblock script %}
