{% extends "base.html" %}
{% block style %}
<style>
</style>
{% endblock style %}
{% block content %}
	<h1>Realtime Markdown Editer</h1>
	<a href="https://gist.github.com/ihoneymon/652be052a0727ad59601">Markdown Syntax[ko]</a>
	<form id="test">
	<div class="row">
	<div class="col-sm">
			<textarea id="markdown" class="form-control user-editor" style="min-height: 700px;" name="t">
			</textarea>
	</div>

	<div id="output" class="border col-sm markdown-body">
	</div>
	
	</div>
	<div id="secret" style="display:none;">hi</div>
	</form>
{% endblock content %}

{% block script %}
<script>
var example = [
  "# hello, This is Markdown Live Preview",  "",  "----",  "## what is Markdown?",  "see [Wikipedia](http://en.wikipedia.org/wiki/Markdown)",  "",  "> Markdown is a lightweight markup language, originally created by John Gruber and Aaron Swartz allowing people \"to write using an easy-to-read, easy-to-write plain text format, then convert it to structurally valid XHTML (or HTML)\".",  "",  "----",  "## usage",  "1. Write markdown text in this textarea.",  "2. Click 'HTML Preview' button.",  "",  "----",  
	"## mathjax quick reference",
	"* $ x = \\frac{b \\pm \\sqrt{b^2-4ac} }{2a}$",
	"* $$ x = \\frac{b \\pm \\sqrt{b^2-4ac} }{2a}$$",
	"## markdown quick reference",  "# headers",  "",  "*emphasis*",  "",  "**strong**",  "",  "* list",  "",  ">block quote",  "",  "    code (4 spaces indent)",  "[links](http://wikipedia.org)",  "",  "----",  "## changelog",  "* 17-Feb-2013 re-design", "* 11-Mar-2018 kajebiii-re-design",  "",  "----",  "## thanks",
  "* [markdown-js](https://github.com/evilstreak/markdown-js)",
  "* [Markdown Live Preview](http://markdownlivepreview.com/)",  ""
].join("\n");
$(function() {
	mwm = new markdownWithMathjax(('markdown'), ('output'), ('secret')); 
	mwm.settingInit();
	mwm.contentInit(example);
});
</script>
{% endblock script %}
